<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="htmx.js"></script>
    <script src="tailwindcss.js"></script>
    <script src="chart.min.js"></script>
    <script src="makeCharts.js"></script>
    
</head>
<body>
    <p class="p-6 bg-red-500">Hello world!</p>
    
    <div class="mx-4">
        <p class="text-2x1 font-bold mb-4">
            <table class="min-w-[50%] mb-4">
                <thead class="border-b ">
                    <tr>
                        <th class="border">Protocols</th>
                        <th class="border">Protocol Count</th>
                    </tr>
                    <tbody class="text-center text-sm">
                        {% for testItem in testItems %}
                        <tr>
                        <td class="border">{{testItem.protocol}}</td>
                        <td class="border">{{testItem.protocolCount}}</td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </thead>
            </table>

            <button class="px-3 py-1 bg-blue-600 text-white ml-4">Load in more</button>
        </br>
        
            
       
        </p>
    </div>
    <div style="width: 50%" >
        <canvas id="protocolsBar"></canvas> 
    </div>
    <div style="width: 50%;">
        <canvas id="ipsBar"></canvas>
    </div>
    <script>
    {%for items in allpies%}
    makeChart("{{items[0]}}", "{{items[1]}}", {{items[2]|safe}}, {{items[3]|safe}})
    {% endfor %}
    </script>
</body>
</html>