<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="chart.min.js"></script>
    <script src="makeCharts.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div>
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Protocols</th>
                            <th>Protocol Count</th>
                        </tr>
                    </thead>
                            {% for protocols in allbars[1][2]%}
                            {%set protocolCount = allbars[1][3][loop.index-1]%}
                            <tr>
                            <td>{{protocols}}</td>
                            <td>{{protocolCount}}</td>
                            </tr>
                            {% endfor %}
                </table> 
        </div>
    
        <div >
            <canvas id="protocolsBar"></canvas> 
        </div>
        <div class="tablecontent">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>IP</th>
                    <th>IP Count</th>
                </tr>
                </thead>
                {% for ips in allbars[0][2]%}
                {%set ipCount = allbars[0][3][loop.index-1]%}
                <tr>
                <td>{{ips}}</td>
                <td>{{ipCount}}</td>
                </tr>
                {% endfor %} 
                </table> 
        </div>
        
        <div>
            <canvas id="ipsBar"></canvas>
        </div>
        <div class="tablecontent">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Country</th>
                    <th>Country Count</th>
                </tr>
                </thead>
                {% for countries in allbars[2][2]%}
                {%set countriesCount = allbars[2][3][loop.index-1]%}
                <tr>
                <td>{{countries}}</td>
                <td>{{countriesCount}}</td>
                </tr>
                {% endfor %} 
                </table> 
        </div>
        <div>
            <canvas id="country"></canvas>
        </div>
        <div class="tablecontent">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>City</th>
                    <th>City Count</th>
                </tr>
                </thead>
                {% for cities in allbars[3][2]%}
                {%set citiesCount = allbars[3][3][loop.index-1]%}
                <tr>
                <td>{{cities}}</td>
                <td>{{citiesCount}}</td>
                </tr>
                {% endfor %} 
                </table> 
        </div>
        <div>
            <canvas id="city"></canvas>
        </div>
        

    </div>


    
    
    <script>
    {%for items in allbars%}
    makeChart("{{items[0]}}", "{{items[1]}}", {{items[2]|safe}}, {{items[3]|safe}})
    {% endfor %}
    </script>
</body>
</html>